@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-main {
    @apply w-full flex-1 font-semibold bg-white border-t-4 border-main-color shadow hidden absolute z-10 md:text-sm md:flex md:items-center md:justify-between md:bg-black md:border-t-0 md:shadow-none md:static md:w-auto;
  }

  .nav-item {
    @apply border-b border-gray-200 last:border-b-0 md:border-none;
  }

  .nav-link {
    @apply px-4 py-3 block animate-300 md:px-2 md:py-6 md:text-white md:hover:bg-main-color lg:px-5 xl:px-7;
  }

  .nav-link.active {
    @apply text-white bg-main-color;
  }

  .nav-btn {
    @apply table absolute -top-12 right-0;
  }

  .nav-btn .nav-icon {
    @apply w-12 bg-transparent block my-3 relative animate-300;
    height: 4px;
  }

  .nav-btn .nav-icon:before,
  .nav-btn .nav-icon:after {
    @apply w-12 bg-gray-800 block absolute top-0 animate-300;
    height: 4px;
    content: '';
  }

  .nav-btn.not-active .nav-icon:before {
    @apply rotate-0 top-4;
  }

  .nav-btn.not-active .nav-icon:after {
    @apply rotate-0 -top-4;
  }

  .nav-btn.not-active .nav-icon {
    @apply bg-gray-800;
  }

  .nav-btn .nav-icon:before {
    @apply transform rotate-45 top-0;
  }

  .nav-btn .nav-icon:after {
    @apply transform -rotate-45 top-0;
  }

  .ticker-item {
    @apply block md:hover:text-indigo-200 animate-300;
  }

  .swiper-container {
    @apply relative overflow-hidden;
  }

  .swiper-wrapper {
    @apply flex;
  }

  .swiper-slide {
    @apply w-full h-full flex flex-shrink-0;
  }

  .swiper-slide img,
  .img {
    @apply w-full h-full rounded;
  }

  .swiper-item {
    @apply w-full h-auto relative;
  }

  .swiper-item:last-child {
    @apply sm:hidden lg:block;
  }

  .swiper-item-sort,
  .sub-title {
    @apply text-base text-white tracking-widest bg-main-color px-4 py-1 mb-2 table;
  }

  .swiper-item-main-title {
    @apply text-2xl tracking-wider font-medium xl:text-4xl lg:text-2xl sm:text-base;
  }

  .swiper-item-title {
    @apply text-base tracking-wider font-medium xl:text-lg;
  }

  .swiper-item-bg {
    @apply w-full h-1/2 bg-gradient-to-t from-black absolute bottom-0 z-0;
  }

  .swiper-button-next,
  .swiper-button-prev {
    @apply text-5xl text-main-color absolute bottom-1/2 md:cursor-pointer md:hover:text-blue-400;
  }

  .swiper-button-prev {
    @apply right-2.5;
  }

  .swiper-button-next {
    @apply left-2.5;
  }

  .title {
    @apply text-xl tracking-widest text-gray-800 border-b px-2 py-2 relative lg:text-xl md:text-base;
  }

  .title:before {
    @apply w-40 border-b-4 border-main-color block absolute bottom-0 left-0 lg:w-40 md:w-28;
    content: '';
  }

  .title b {
    @apply tracking-tight font-normal;
  }

  .title i {
    @apply text-lg text-gray-600 mr-2 lg:text-lg md:text-sm;
  }

  .title a {
    @apply text-sm text-gray-400 tracking-normal inline-block float-right mt-3 md:hover:text-gray-900 animate-300 lg:text-sm md:text-xs;
  }

  .item-link {
    @apply max-w-sm mx-auto animate-300 md:hover:text-main-color block;
  }

  .item-link img {
    @apply object-cover w-full rounded;
  }

  .item-info {
    @apply px-3 py-6 space-y-2;
  }

  .item-info h3 {
    @apply text-2xl font-semibold;
  }

  .item-info p {
    @apply text-gray-800 tracking-wider md:leading-8;
  }

  .breadcrumb {
    @apply block tracking-widest mb-10;
  }

  .breadcrumb ul li {
    @apply text-sm inline-block;
  }

  .breadcrumb ul li:after {
    @apply text-black inline-block mx-1;
    content: '/';
  }

  .breadcrumb ul li:last-child:after {
    @apply hidden;
  }

  .list-link {
    @apply text-gray-800 block border-b border-gray-200 md:pb-6 md:hover:text-main-color last:border-0;
  }

  .list-link img {
    @apply max-h-96 float-none md:float-left md:mr-8 md:w-40 md:max-h-full lg:w-32;
  }

  .list-link .list-item-info {
    @apply px-3 py-6 space-y-2 md:align-top md:p-0;
  }

  .list-link .list-item-info h3 {
    @apply text-2xl font-semibold md:tracking-widest md:text-xl md:font-normal;
  }

  .content {
    @apply text-lg text-gray-800 leading-8 tracking-wider text-justify;
  }

  .content img {
    @apply max-w-full w-full h-auto table;
  }

  .content .picinfo {
    @apply text-sm text-gray-500 mb-12 pt-4 py-6 block border-b relative sm:text-base;
  }

  .content .picinfo:before {
    @apply w-40 border-b-4 border-main-color block absolute bottom-0 left-0 lg:w-40 md:w-28;
    content: '';
  }

  .content p {
    @apply text-left mb-8;
  }

  .more-list {
    @apply mt-4 mb-10 list-disc pl-8 px-2;
  }

  .more-list li {
    @apply text-xl tracking-wider py-3 mb-4 border-b border-dotted;
  }

  .more-list li a {
    @apply inline-block animate-300 md:hover:text-main-color align-top;
  }

  .footer-link {
    @apply w-10 h-10 text-center justify-center leading-10 inline-block rounded-full bg-gray-300 text-gray-500 animate-300 md:hover:bg-gray-500 md:hover:text-white;
  }

  .gotop {
    @apply px-4 py-2 rounded-md bg-black fixed right-2 bottom-10 cursor-pointer opacity-70;
  }

  .gotop::before {
    @apply inline-block;
    content: '';
    border-left: 16px solid transparent;
    border-bottom: 16px solid #fff;
    border-right: 16px solid transparent;
  }

  .gotop::after {
    @apply absolute top-4 left-4;
    content: '';
    border-left: 16px solid transparent;
    border-bottom: 16px solid #000;
    border-right: 16px solid transparent;
  }

  .post-page {
    @apply w-full text-center block mt-7 mb-12;
  }

  .post-page ul li {
    @apply w-auto text-lg inline-block mx-3 mb-4 sm:mb-0;
  }

  .post-page ul li a {
    @apply w-10 h-10 text-base text-white bg-main-color font-bold block rounded leading-10 animate-300 md:hover:bg-gray-900;
  }

  .post-page ul li.active a,
  .post-page ul li.disabled a {
    @apply text-main-color border border-main-color bg-transparent;
  }
}

@layer utilities {
  .animate-300 {
    @apply transition duration-300 ease-in-out;
  }
}
